/*Nmelis M2 Circle pradžia */

.circle-2-m2 {
  left:   182px;
  top:    278px;
}

.circle-3-m2 {
  left:   214px;
  top:    319px;
}

.circle-4-m2 {
  left:   313px;
  top:    330px;
}

.circle-5-m2 {
  left:   386px;
  top:    307px;
}

.circle-6-m2 {
  left:   455px;
  top:    285px;
}

/*Nmelis M2 Circle pabaiga */



/*Nmelis M3 Circle pradžia */
.circle-1-m3 {
  left:   153px;
  top:    241px;
}

.circle-2-m3 {
  left:   182px;
  top:    278px;
}

.circle-3-m3 {
  left:   214px;
  top:    319px;
}

.circle-4-m3 {
  left:   313px;
  top:    330px;
}

.circle-5-m3 {
  left:   386px;
  top:    307px;
}

.circle-6-m3 {
  left:   455px;
  top:    285px;
}
/*Nmelis M3 Circle pabaiga */


/*Nmelis M4 Circle pradžia */
.circle-2-m4 {
  left:   182px;
  top:    278px;
}

.circle-3-m4 {
  left:   214px;
  top:    319px;
}

.circle-4-m4 {
  left:   313px;
  top:    330px;
}

.circle-5-m4 {
  left:   386px;
  top:    305px;
}

.circle-6-m4 {
  left:   455px;
  top:    282px;
}

.circle-7-m4 {
  left:   517px;
  top:    261px;
}

/*Nmelis M4 Circle pabaiga */


/*Nmelis M5 Circle pradžia */
.circle-1-m5 {
  left:   153px;
  top:    241px;
}

.circle-2-m5 {
  left:   182px;
  top:    278px;
}

.circle-3-m5 {
  left:   214px;
  top:    319px;
}

.circle-4-m5 {
  left:   313px;
  top:    330px;
}

.circle-5-m5 {
  left:   386px;
  top:    305px;
}

.circle-6-m5 {
  left:   455px;
  top:    282px;
}

.circle-7-m5 {
  left:   517px;
  top:    261px;
}

/*Nmelis M5 Circle pabaiga */



/* ======== CIRCLES ======== */

.circle-1 {
  left:   152px;
  top:    235px;
}

.circle-2 {
  left:   176px;
  top:    269px;
}

.circle-3 {
  left:   212px;
  top:    319px;
}

.circle-4 {
  left:   308px;
  top:    331px;
}

.circle-5 {
  left:   392px;
  top:    305px;
}

.circle-6 {
  left:   463px;
  top:    281px;
}

.circle-7 {
  left:   530px;
  top:    256px;
}

.circle-8 {
  left:    28px;
  top:    243px;
}

.circle-9 {
  left:    57px;
  top:    280px;
}

.circle-10 {
  left:    89px;
  top:    321px;
}

.circle-11 {
  left:   188px;
  top:    332px;
}

.circle-12 {
  left:   261px;
  top:    307px;
}

.circle-13 {
  left:   330px;
  top:    284px;
}

.circle-14 {
  left:   392px;
  top:    263px;
}

.circle-15 {
  left:   457px;
  top:    241px;
}

.circle-16 {
  left:   508px;
  top:    224px;
}

.circle-17 {
  left:   555px;
  top:    208px;
}

/* ======== MARKERS ======== */

.marker-1 {
  left:   154px;
  top:     70px;
  height: 140px;
  width:   18px;
  background-image: url(../images/markers/line1.png);
}

.marker-2 {
  left:   183px;
  top:     81px;
  height: 166px;
  width:   18px;
  background-image: url(../images/markers/line1.png);
}

.marker-3 {
  left:   213px;
  top:     96px;
  height: 182px;
  width:   15px;
  background-image: url(../images/markers/line1.png);
}

.marker-4 {
  left:   247px;
  top:    113px;
  height: 203px;
  width:   13px;
  background-image: url(../images/markers/line1.png);
}

.marker-5 {
  left:   265px;
  top:    115px;
  height: 209px;
  width:   10px;
  background-image: url(../images/markers/line1.png);
}

.marker-6 {
  left:   352px;
  top:    103px;
  height: 194px;
  width:   8px;
  background-image: url(../images/markers/line2.png);
}

.marker-7 {
  left:   420px;
  top:     94px;
  height: 183px;
  width:   18px;
  background-image: url(../images/markers/line3.png);
}

.marker-8 {
  left:   485px;
  top:     85px;
  height: 171px;
  width:   23px;
  background-image: url(../images/markers/line3.png);
}

.marker-9 {
  left:   421px;
  top:     94px;
  height: 183px;
  width:   18px;
  background-image: url(../images/markers/line3.png);
}

.marker-10 {
  left:   485px;
  top:     85px;
  height: 171px;
  width:   23px;
  background-image: url(../images/markers/line3.png);
}

.marker-11 {
  left:   538px;
  top:     80px;
  height: 157px;
  width:   24px;
  background-image: url(../images/markers/line4.png);
}

.marker-12 {
  left:    30px;
  top:     70px;
  height: 140px;
  width:   18px;
  background-image: url(../images/markers/line1.png);
}

.marker-13 {
  left:    60px;
  top:     81px;
  height: 166px;
  width:   18px;
  background-image: url(../images/markers/line1.png);
}

.marker-14 {
  left:    90px;
  top:     96px;
  height: 182px;
  width:   15px;
  background-image: url(../images/markers/line1.png);
}

.marker-15 {
  left:   124px;
  top:    113px;
  height: 203px;
  width:   13px;
  background-image: url(../images/markers/line1.png);
}

.marker-16 {
  left:   144px;
  top:    115px;
  height: 209px;
  width:   10px;
  background-image: url(../images/markers/line1.png);
}

.marker-17 {
  left:   229px;
  top:    103px;
  height: 194px;
  width:   8px;
  background-image: url(../images/markers/line2.png);
}

.marker-18 {
  left:   298px;
  top:     94px;
  height: 183px;
  width:   18px;
  background-image: url(../images/markers/line3.png);
}

.marker-19 {
  left:   300px;
  top:     92px;
  height: 183px;
  width:   18px;
  background-image: url(../images/markers/line3.png);
}

.marker-20 {
  left:   365px;
  top:     82px;
  height: 171px;
  width:   23px;
  background-image: url(../images/markers/line3.png);
}

.marker-21 {
  left:   416px;
  top:     79px;
  height: 157px;
  width:   24px;
  background-image: url(../images/markers/line4.png);
}

.marker-22 {
  left:   437px;
  top:     77px;
  height: 150px;
  width:   24px;
  background-image: url(../images/markers/line4.png);
}

.marker-23 {
  left:   487px;
  top:     69px;
  height: 143px;
  width:   29px;
  background-image: url(../images/markers/line5.png);
}

.marker-24 {
  left:   534px;
  top:     64px;
  height: 135px;
  width:   29px;
  background-image: url(../images/markers/line5.png);
}

.marker-25 {
  left:   566px;
  top:     62px;
  height: 125px;
  width:   28px;
  background-image: url(../images/markers/line6.png);
}

/* ======== LAYERS ======== */

#full-face-1-1,
#full-back-1-1 {
  left:   158px;
  top:     70px;
  height: 174px;
  width:   42px;
}

.m6 #full-face-1-1,
.m6 #full-back-1-1 {
  left:    35px;
  top:     67px;
}

#full-face-1-2,
#full-back-1-2 {
  left:   158px;
  top:     70px;
  height: 175px;
  width:   41px;
}

.m6 #full-face-1-2,
.m6 #full-back-1-2 {
  left:    35px;
  top:     68px;
}

#full-face-1-3,
#full-back-1-3 {
  left:   158px;
  top:     70px;
  height: 176px;
  width:   42px;
}

.m6 #full-face-1-3,
.m6 #full-back-1-3 {
  left:    34px;
  top:     68px;
}

#full-face-1-4,
#full-back-1-4 {
  left:   158px;
  top:     70px;
  height: 176px;
  width:   42px;
}

.m6 #full-face-1-4,
.m6 #full-back-1-4 {
  left:    34px;
  top:     68px;
}

#full-face-1-5,
#full-back-1-5 {
  left:   158px;
  top:     70px;
  height: 175px;
  width:   42px;
}

.m6 #full-face-1-5,
.m6 #full-back-1-5 {
  left:    34px;
  top:     68px;
}

#full-face-1-6,
#full-back-1-6 {
  left:   158px;
  top:     70px;
  height: 176px;
  width:   42px;
}

.m6 #full-face-1-6,
.m6 #full-back-1-6 {
  left:    34px;
  top:     68px;
  height: 176px;
  width:   42px;
}

#full-face-1-7,
#full-back-1-7 {
  left:   157px;
  top:     68px;
  height: 210px;
  width:   76px;
}

.m6 #full-face-1-7,
.m6 #full-back-1-7 {
  left:    33px;
  top:     67px;
  height: 210px;
  width:   76px;
}

#full-face-1-8,
#full-back-1-8 {
  left:   158px;
  top:     67px;
  height: 253px;
  width:  103px;
}

.m6 #full-face-1-8,
.m6 #full-back-1-8 {
  left:    35px;
  top:     67px;
  height: 253px;
  width:  103px;
}

#full-face-2-1,
#full-back-2-1 {
  left:   185px;
  top:     80px;
  height: 195px;
  width:   40px;
}

.m6 #full-face-2-1,
.m6 #full-back-2-1 {
  left:    63px;
}

#full-face-2-2,
#full-back-2-2 {
  left:   185px;
  top:     83px;
  height: 195px;
  width:   41px;
}

.m6 #full-face-2-2,
.m6 #full-back-2-2 {
  left:    63px;
  top:     82px;
}

#full-face-2-3,
#full-back-2-3 {
  left:   185px;
  top:     82px;
  height: 234px;
  width:   72px;
}

.m6 #full-face-2-3,
.m6 #full-back-2-3 {
  left:    62px;
  top:     81px;
}

#full-face-2-4,
#full-back-2-4 {
  left:   185px;
  top:     81px;
  height: 193px;
  width:   42px;
}

.m6 #full-face-2-4,
.m6 #full-back-2-4 {
  left:    62px;
  top:     81px;
}

#full-face-2-5,
#full-back-2-5 {
  left:   185px;
  top:     81px;
  height: 203px;
  width:   55px;
}

.m6 #full-face-2-5,
.m6 #full-back-2-5 {
  left:    62px;
  top:     81px;
}

#full-face-2-6,
#full-back-2-6 {
  left:   185px;
  top:     83px;
  height: 190px;
  width:   41px;
}

.m6 #full-face-2-6,
.m6 #full-back-2-6 {
  left:    62px;
  top:     82px;
}

#full-face-2-7,
#full-back-2-7 {
  left:   187px;
  top:     84px;
  height: 236px;
  width:   73px;
}

.m6 #full-face-2-7,
.m6 #full-back-2-7 {
  left:    63px;
  top:     82px;
  height: 236px;
  width:   73px;
}

#full-face-3-1,
#full-back-3-1 {
  left:   215px;
  top:     96px;
  height: 220px;
  width:   45px;
}

.m6 #full-face-3-1,
.m6 #full-back-3-1 {
  left:    93px;
  top:     96px;
}

#full-face-3-2,
#full-back-3-2 {
  left:   215px;
  top:     98px;
  height: 219px;
  width:   44px;
}

.m6 #full-face-3-2,
.m6 #full-back-3-2 {
  left:    93px;
  top:     97px;
}

#full-face-3-3,
#full-back-3-3 {
  left:   215px;
  top:     97px;
  height: 219px;
  width:   43px;
}

.m6 #full-face-3-3,
.m6 #full-back-3-3 {
  left:    93px;
  top:     96px;
}

#full-face-3-4,
#full-back-3-4 {
  left:   213px;
  top:     96px;
  height: 219px;
  width:   45px;
}

.m6 #full-face-3-4,
.m6 #full-back-3-4 {
  left:    90px;
  top:     96px;
}

#full-face-3-5,
#full-back-3-5 {
  left:   208px;
  top:     89px;
  height: 227px;
  width:   49px;
}

.m6 #full-face-3-5,
.m6 #full-back-3-5 {
  left:    85px;
  top:     88px;
}

#full-face-3-6,
#full-back-3-6 {
  left:   215px;
  top:     96px;
  height: 220px;
  width:   43px;
}

.m6 #full-face-3-6,
.m6 #full-back-3-6 {
  left:    91px;
  top:     94px;
}

#full-face-4-1,
#full-back-4-1 {
  left:   268px;
  top:    105px;
  height: 216px;
  width:   91px;
}

.m6 #full-face-4-1,
.m6 #full-back-4-1 {
  left:   145px;
  top:    103px;
}

#full-face-4-2,
#full-back-4-2 {
  left:   269px;
  top:    105px;
  height: 216px;
  width:   89px;
}

.m6 #full-face-4-2,
.m6 #full-back-4-2 {
  left:   145px;
  top:    103px;
}

#full-face-4-3,
#full-back-4-3 {
  left:   269px;
  top:    105px;
  height: 217px;
  width:   90px;
}

.m6 #full-face-4-3,
.m6 #full-back-4-3 {
  left:   145px;
  top:    103px;
}

#full-face-4-4,
#full-back-4-4 {
  left:   268px;
  top:    105px;
  height: 216px;
  width:   89px;
}

.m6 #full-face-4-4,
.m6 #full-back-4-4 {
  left:   145px;
  top:    103px;
}

#full-face-4-5,
#full-back-4-5 {
  left:   268px;
  top:    105px;
  height: 216px;
  width:   89px;
}

.m6 #full-face-4-5,
.m6 #full-back-4-5 {
  left:   145px;
  top:    103px;
}

#full-face-4-6,
#full-back-4-6 {
  left:   268px;
  top:    104px;
  height: 218px;
  width:   90px;
}

.m6 #full-face-4-6,
.m6 #full-back-4-6 {
  left:   145px;
  top:    102px;
}

#full-face-4-7,
#full-back-4-7 {
  left:   267px;
  top:     96px;
  height: 226px;
  width:  172px;
}

.m6 #full-face-4-7,
.m6 #full-back-4-7 {
  left:   144px;
  top:     93px;
  height: 226px;
  width:  172px;
}

#full-face-4-8,
#full-back-4-8 {
  left:   267px;
  top:     86px;
  height: 235px;
  width:  242px;
}

#full-face-5-1,
#full-back-5-1 {
  left:   351px;
  top:     95px;
  height: 201px;
  width:   88px;
}

.m6 #full-face-5-1,
.m6 #full-back-5-1 {
  left:   229px;
  top:     93px;
}

#full-face-5-2,
#full-back-5-2 {
  left:   335px;
  top:     95px;
  height: 203px;
  width:  105px;
}

.m6 #full-face-5-2,
.m6 #full-back-5-2 {
  left:   211px;
  top:     93px;
}

#full-face-5-3,
#full-back-5-3 {
  left:   354px;
  top:     95px;
  height: 202px;
  width:   85px;
}

.m6 #full-face-5-3,
.m6 #full-back-5-3 {
  left:   230px;
  top:     93px;
}

#full-face-5-4,
#full-back-5-4 {
  left:   351px;
  top:     95px;
  height: 202px;
  width:   86px;
}

.m6 #full-face-5-4,
.m6 #full-back-5-4 {
  left:   229px;
  top:     93px;
}

#full-face-5-5,
#full-back-5-5 {
  left:   351px;
  top:     95px;
  height: 202px;
  width:   85px;
}

.m6 #full-face-5-5,
.m6 #full-back-5-5 {
  left:   230px;
  top:     93px;
}

#full-face-5-6,
#full-back-5-6 {
  left:   351px;
  top:     95px;
  height: 202px;
  width:   84px;
}

.m6 #full-face-5-6,
.m6 #full-back-5-6 {
  left:   230px;
  top:     93px;
}

.m2 #full-face-5-7,
.m2 #full-back-5-7 {
  left:   346px;
  top:     84px;
  height: 212px;
  width:  161px;
}

#full-face-6-1,
#full-back-6-1 {
  left:   420px;
  top:     87px;
  height: 186px;
  width:   86px;
}

#full-face-6-2,
#full-back-6-2 {
  left:   420px;
  top:     87px;
  height: 190px;
  width:   86px;
}

#full-face-6-3,
#full-back-6-3 {
  left:   422px;
  top:     87px;
  height: 191px;
  width:   87px;
}

#full-face-6-4,
#full-back-6-4 {
  left:   422px;
  top:     87px;
  height: 188px;
  width:   85px;
}

#full-face-6-5,
#full-back-6-5 {
  left:   422px;
  top:     87px;
  height: 187px;
  width:   85px;
}

#full-face-6-6,
#full-back-6-6 {
  left:   422px;
  top:     87px;
  height: 188px;
  width:   84px;
}

#full-face-7-1,
#full-back-7-1 {
  left:   423px;
  top:     85px;
  height: 186px;
  width:   85px;
}

.m6 #full-face-7-1,
.m6 #full-back-7-1 {
  left:   302px;
  top:     83px;
}

#full-face-7-2,
#full-back-7-2 {
  left:   423px;
  top:     85px;
  height: 188px;
  width:   84px;
}

.m6 #full-face-7-2,
.m6 #full-back-7-2 {
  left:   301px;
  top:     83px;
}

#full-face-7-3,
#full-back-7-3 {
  left:   423px;
  top:     86px;
  height: 187px;
  width:   82px;
}

.m6 #full-face-7-3,
.m6 #full-back-7-3 {
  left: 302px;
  top:     83px;
}

#full-face-7-4,
#full-back-7-4 {
  left:   423px;
  top:     87px;
  height: 187px;
  width:   82px;
}

.m6 #full-face-7-4,
.m6 #full-back-7-4 {
  left: 301px;
  top: 85px;
}

#full-face-7-5,
#full-back-7-5 {
  left:   423px;
  top:     86px;
  height: 186px;
  width:   83px;
}

.m6 #full-face-7-5,
.m6 #full-back-7-5 {
  left: 302px;
  top:     84px;
}

#full-face-7-6,
#full-back-7-6 {
  left:   423px;
  top:     85px;
  height: 188px;
  width:   84px;
}

.m6 #full-face-7-6,
.m6 #full-back-7-6 {
  left: 300px;
  top: 85px;
}

#full-face-7-7,
#full-back-7-7 {
  left:   423px;
  top:     78px;
  height: 195px;
  width:  143px;
}

.m6 #full-face-7-7,
.m6 #full-back-7-7 {
  left: 300px;
  top:     76px;
  height: 195px;
  width:  143px;
}

#full-face-8-1,
#full-back-8-1 {
  left:   489px;
  top:     78px;
  height: 173px;
  width:   78px;
}

.m6 #full-face-8-1,
.m6 #full-back-8-1 {
  left:   368px;
  top:     76px;
}

#full-face-8-2,
#full-back-8-2 {
  left:   487px;
  top:     78px;
  height: 175px;
  width:   80px;
}

.m6 #full-face-8-2,
.m6 #full-back-8-2 {
  left:   366px;
  top:     76px;
}

#full-face-8-3,
#full-back-8-3 {
  left:   485px;
  top:     78px;
  height: 174px;
  width:   79px;
}

.m6 #full-face-8-3,
.m6 #full-back-8-3 {
  left: 364px;
  top:     76px;
}

#full-face-8-4,
#full-back-8-4 {
  left:   485px;
  top:     79px;
  height: 175px;
  width:   78px;
}

.m6 #full-face-8-4,
.m6 #full-back-8-4 {
  left: 362px;
  top: 77px;
}

#full-face-8-5,
#full-back-8-5 {
  left:   486px;
  top:     79px;
  height: 174px;
  width:   77px;
}

.m6 #full-face-8-5,
.m6 #full-back-8-5 {
  left: 365px;
  top:     77px;
}

#full-face-8-6,
#full-back-8-6 {
  left:   487px;
  top:     79px;
  height: 173px;
  width:   79px;
}

.m6 #full-face-8-6,
.m6 #full-back-8-6 {
  left: 364px;
  top: 79px;
}

#full-face-16-1,
#full-back-16-1 {
  left:   434px;
  top:     68px;
  height: 162px;
  width:   79px;
}

#full-face-16-2,
#full-back-16-2 {
  left:   435px;
  top:     68px;
  height: 161px;
  width:   79px;
}

#full-face-16-3,
#full-back-16-3 {
  left: 435px;
  top:     68px;
  height: 161px;
  width:   80px;
}

#full-face-16-4,
#full-back-16-4 {
  left: 434px;
  top:     68px;
  height: 161px;
  width:   79px;
}

#full-face-16-5,
#full-back-16-5 {
  left: 434px;
  top:     68px;
  height: 161px;
  width:   79px;
}

#full-face-16-6,
#full-back-16-6 {
  left: 434px;
  top:     68px;
  height: 160px;
  width:   80px;
}

#full-face-16-7,
#full-back-16-7 {
  left: 435px;
  top:     63px;
  height: 167px;
  width:  126px;
}

#full-face-16-8,
#full-back-16-8 {
  left: 432px;
  top:     58px;
  height: 170px;
  width:  164px;
}

#full-face-17-1,
#full-back-17-1 {
  left:   486px;
  top:     62px;
  height: 150px;
  width:   73px;
}

#full-face-17-2,
#full-back-17-2 {
  left:   484px;
  top:     63px;
  height: 149px;
  width:   75px;
}

#full-face-17-3,
#full-back-17-3 {
  left: 487px;
  top:     63px;
  height: 150px;
  width:   75px;
}

#full-face-17-4,
#full-back-17-4 {
  left: 485px;
  top:     63px;
  height: 149px;
  width:   73px;
}

#full-face-17-5,
#full-back-17-5 {
  left: 485px;
  top:     62px;
  height: 150px;
  width:   75px;
}

#full-face-17-6,
#full-back-17-6 {
  left: 486px;
  top:     62px;
  height: 150px;
  width:   73px;
}

#full-face-17-7,
#full-back-17-7 {
  left:   490px;
  top:     58px;
  height: 156px;
  width:  116px;
}

#full-face-18-1,
#full-back-18-1 {
  left:   533px;
  top:     59px;
  height: 138px;
  width:   64px;
}

#full-face-18-2,
#full-back-18-2 {
  left:   530px;
  top:     59px;
  height: 139px;
  width:   65px;
}

#full-face-18-3,
#full-back-18-3 {
  left: 534px;
  top:     58px;
  height: 138px;
  width:   65px;
}

#full-face-18-4,
#full-back-18-4 {
  left: 530px;
  top:     58px;
  height: 139px;
  width:   66px;
}

#full-face-18-5,
#full-back-18-5 {
  left: 531px;
  top:     58px;
  height: 140px;
  width:   65px;
}

#full-face-18-6,
#full-back-18-6 {
  left: 532px;
  top:     58px;
  height: 138px;
  width:   64px;
}

/* ======== mini-LAYERS ======== */

#mini-face-1-1 {
  left:    98px;
  top:    186px;
  height:  99.4px;
  width:   23.6px;
}

.m6 #mini-face-1-1 {
  left:    28px;
  top:    186px;
}

#mini-back-1-1 {
  left:   450px;
  top:    186px;
  height:  99.4px;
  width:   23.6px;
}

.m6 #mini-back-1-1 {
  left:   380px;
  top:    186px;
}

#mini-face-1-2 {
  left:    98px;
  top:    186px;
  height: 100px;
  width:   23px;
}

.m6 #mini-face-1-2 {
  left:    28px;
  top:    186px;
}

#mini-back-1-2 {
  left:   449px;
  top:    186px;
  height: 100px;
  width:   23px;
}

.m6 #mini-back-1-2 {
  left:   378px;
  top:    186px;
}

#mini-face-1-3 {
  left:    98px;
  top:    186px;
  height: 106px;
  width:   23.6px;
}

.m6 #mini-face-1-3 {
  left:    29px;
  top:    186px;
}

#mini-back-1-3 {
  left:   449px;
  top:    186px;
  height: 106px;
  width:   23.6px;
}

.m6 #mini-back-1-3 {
  left:   379px;
  top:    186px;
}

#mini-face-1-4 {
  left:    98px;
  top:    186px;
  height: 100.6px;
  width:   23.6px;
}

.m6 #mini-face-1-4 {
  left:    27px;
  top:    186px;
}

#mini-back-1-4 {
  left:   450px;
  top:    186px;
  height: 100.6px;
  width:   23.6px;
}

.m6 #mini-back-1-4 {
  left:   381px;
  top:    186px;
}

#mini-face-1-5 {
  left:    98px;
  top:    186px;
  height: 100.6px;
  width:   23.6px;
}

.m6 #mini-face-1-5 {
  left:    28px;
  top:    186px;
}

#mini-back-1-5 {
  left:   450px;
  top:    186px;
  height: 100.6px;
  width:   23.6px;
}

.m6 #mini-back-1-5 {
  left:   381px;
  top:    186px;
}

#mini-face-1-6 {
  left:    98px;
  top:    186px;
  height: 100px;
  width:   23.6px;
}

.m6 #mini-face-1-6 {
  left:    28px;
  top:    186px;
}

#mini-back-1-6 {
  left:   450px;
  top:    186px;
  height: 100px;
  width:   23.6px;
}

.m6 #mini-back-1-6 {
  left:   378px;
  top:    186px;
}

#mini-face-1-7 {
  left:    95px;
  top:    185px;
  height: 120px;
  width:   42.7px;
}

.m6 #mini-face-1-7 {
  left:    27px;
  top:    185px;
}

#mini-back-1-7 {
  left:   448px;
  top:    185px;
  height: 120px;
  width:   42.7px;
}

.m6 #mini-back-1-7 {
  left:   378px;
  top:    185px;
}

#mini-face-1-8 {
  left:    97px;
  top:    185px;
  height: 144.6px;
  width:   57.8px;
}

.m6 #mini-face-1-8 {
  left:    27px;
  top:    185px;
  height: 144.6px;
  width:   57.8px;
}

#mini-back-1-8 {
  left:   448px;
  top:    185px;
  height: 144.6px;
  width:   57.8px;
}

.m6 #mini-back-1-8 {
  left:   378px;
  top:    185px;
  height: 144.6px;
  width:   57.8px;
}

#mini-face-2-1 {
  left:   113px;
  top:    194px;
  height: 111.4px;
  width:   22.5px;
}

.m6 #mini-face-2-1 {
  left:    43px;
  top:    193px;
}

#mini-back-2-1 {
  left:   465px;
  top:    194px;
  height: 111.4px;
  width:   22.5px;
}

.m6 #mini-back-2-1 {
  left:   395px;
  top:    193px;
}

#mini-face-2-2 {
  left:   113px;
  top:    193px;
  height: 111.4px;
  width:   23px;
}

.m6 #mini-face-2-2 {
  left:    44px;
  top:    193px;
}

#mini-back-2-2 {
  left:   465px;
  top:    193px;
  height: 111.4px;
  width:   23px;
}

.m6 #mini-back-2-2 {
  left:   393px;
  top:    193px;
}

#mini-face-2-3 {
  left:   113px;
  top:    193px;
  height: 133.7px;
  width:   40.5px;
}

.m6 #mini-face-2-3 {
  left:    43px;
  top:    193px;
}

#mini-back-2-3 {
  left:   465px;
  top:    193px;
  height: 133.7px;
  width:   40.5px;
}

.m6 #mini-back-2-3 {
  left:   395px;
  top:    193px;
}

#mini-face-2-4 {
  left:   113px;
  top:    194px;
  height: 110.3px;
  width:   26.6px;
}

.m6 #mini-face-2-4 {
  left:    42px;
  top:    194px;
}

#mini-back-2-4 {
  left:   465px;
  top:    194px;
  height: 110.3px;
  width:   26.6px;
}

.m6 #mini-back-2-4 {
  left:   393px;
  top:    194px;
}

#mini-face-2-5 {
  left:   113px;
  top:    194px;
  height: 116px;
  width:   30.9px;
}

.m6 #mini-face-2-5 {
  left:    43px;
  top:    193px;
}

#mini-back-2-5 {
  left:   465px;
  top:    194px;
  height: 116px;
  width:   30.9px;
}

.m6 #mini-back-2-5 {
  left:   395px;
  top:    194px;
}

#mini-face-2-6 {
  left:   113px;
  top:    194px;
  height: 108.6px;
  width:   23px;
}

.m6 #mini-face-2-6 {
  left:    43px;
  top:    194px;
}

#mini-back-2-6 {
  left:   465px;
  top:    194px;
  height: 108.6px;
  width:   23px;
}

.m6 #mini-back-2-6 {
  left:   393px;
  top:    194px;
}

#mini-face-2-7 {
  left:   113px;
  top:    194px;
  height: 134.9px;
  width:   41px;
}

.m6 #mini-face-2-7 {
  left:    43px;
  top:    194px;
}

#mini-back-2-7 {
  left:   464px;
  top:    194px;
  height: 134.9px;
  width:   41px;
}

.m6 #mini-back-2-7 {
  left:   394px;
  top:    194px;
}

#mini-face-3-1 {
  left:   129px;
  top:    201px;
  height: 125.7px;
  width:   25.3px;
}

.m6 #mini-face-3-1 {
  left:    59px;
  top:    201px;
}

#mini-back-3-1 {
  left:   481px;
  top:    201px;
  height: 125.7px;
  width:   25.3px;
}

.m6 #mini-back-3-1 {
  left:   410px;
  top:    201px;
}

#mini-face-3-2 {
  left:   129px;
  top:    201px;
  height: 125.1px;
  width:   24.7px;
}

.m6 #mini-face-3-2 {
  left:    61px;
  top:    201px;
}

#mini-back-3-2 {
  left:   481px;
  top:    201px;
  height: 125.1px;
  width:   24.7px;
}

.m6 #mini-back-3-2 {
  left:   410px;
  top:    201px;
}

#mini-face-3-3 {
  left:   129px;
  top:    201px;
  height: 125.1px;
  width:   24.2px;
}

.m6 #mini-face-3-3 {
  left:    60px;
  top:    201px;
}

#mini-back-3-3 {
  left:   481px;
  top:    201px;
  height: 125.1px;
  width:   24.2px;
}

.m6 #mini-back-3-3 {
  left:   411px;
  top:    201px;
}

#mini-face-3-4 {
  left:   129px;
  top:    201px;
  height: 125.1px;
  width:   25.3px;
}

.m6 #mini-face-3-4 {
  left:    59px;
  top:    201px;
}

#mini-back-3-4 {
  left:   481px;
  top:    201px;
  height: 125.1px;
  width:   25.3px;
}

.m6 #mini-back-3-4 {
  left:   410px;
  top:    201px;
}

#mini-face-3-5 {
  left:   126px;
  top:    198px;
  height: 125.1px;
  width:   25.3px;
}

.m6 #mini-face-3-5 {
  left:    56px;
  top:    197px;
}

#mini-back-3-5 {
  left:   477px;
  top:    198px;
  height: 125.1px;
  width:   25.3px;
}

.m6 #mini-back-3-5 {
  left:   408px;
  top:    198px;
}

#mini-face-3-6 {
  left:   129px;
  top:    201px;
  height: 125.7px;
  width:   24.2px;
}

.m6 #mini-face-3-6 {
  left:    60px;
  top:    201px;
}

#mini-back-3-6 {
  left:   481px;
  top:    201px;
  height: 125.7px;
  width:   24.2px;
}

.m6 #mini-back-3-6 {
  left:   410px;
  top:    201px;
}

#mini-face-4-1 {
  left:   158px;
  top:    206px;
  height: 123.4px;
  width:   51.1px;
}

.m6 #mini-face-4-1 {
  left:    89px;
  top:    206px;
}

#mini-back-4-1 {
  left:   510px;
  top:    206px;
  height: 123.4px;
  width:   51.1px;
}

.m6 #mini-back-4-1 {
  left:   439px;
  top:    206px;
}

#mini-face-4-2 {
  left:   158px;
  top:    206px;
  height: 123.4px;
  width:   50px;
}

.m6 #mini-face-4-2 {
  left:    88px;
  top:    206px;
}

#mini-back-4-2 {
  left:   510px;
  top:    206px;
  height: 123.4px;
  width:   50px;
}

.m6 #mini-back-4-2 {
  left:   440px;
  top:    206px;
}

#mini-face-4-3 {
  left:   158px;
  top:    206px;
  height: 124px;
  width:   50.6px;
}

.m6 #mini-face-4-3 {
  left:    89px;
  top:    206px;
}

#mini-back-4-3 {
  left:   510px;
  top:    206px;
  height: 124px;
  width:   50.6px;
}

.m6 #mini-back-4-3 {
  left:   440px;
  top:    206px;
}

#mini-face-4-4 {
  left:   158px;
  top:    206px;
  height: 123.4px;
  width:   50px;
}

.m6 #mini-face-4-4 {
  left: 90px;
  top:    206px;
}

#mini-back-4-4 {
  left:   510px;
  top:    206px;
  height: 123.4px;
  width:   50px;
}

.m6 #mini-back-4-4 {
  left:   440px;
  top:    206px;
}

#mini-face-4-5 {
  left:   158px;
  top:    206px;
  height: 123.4px;
  width:   50px;
}

.m6 #mini-face-4-5 {
  left:    89px;
  top:    206px;
}

#mini-back-4-5 {
  left:   510px;
  top:    207px;
  height: 123.4px;
  width:   50px;
}

.m6 #mini-back-4-5 {
  left:   440px;
  top:    206px;
}

#mini-face-4-6 {
  left:   158px;
  top:    207px;
  height: 124.6px;
  width:   50.6px;
}

.m6 #mini-face-4-6 {
  left:    89px;
  top:    205px;
}

#mini-back-4-6 {
  left:   510px;
  top:    207px;
  height: 124.6px;
  width:   50.6px;
}

.m6 #mini-back-4-6 {
  left:   440px;
  top:    206px;
}

#mini-face-4-7 {
  left:   158px;
  top:    201px;
  height: 129.1px;
  width:   96.6px;
}

.m6 #mini-face-4-7 {
  left:    88px;
  top:    200px;
}

#mini-back-4-7 {
  left:   508px;
  top:    201px;
  height: 129.1px;
  width:   96.6px;
}

.m6 #mini-back-4-7 {
  left:   439px;
  top:    200px;
}

#mini-face-4-8 {
  left:   158px;
  top:    196px;
  height: 134.3px;
  width:  136px;
}

#mini-back-4-8 {
  left:   509px;
  top:    197px;
  height: 134.3px;
  width:  136px;
}

#mini-face-5-1 {
  left:   205px;
  top:    200px;
  height: 114.9px;
  width:   49.3px;
}

.m6 #mini-face-5-1 {
  left:   135px;
  top:    200px;
}

#mini-back-5-1 {
  left:   557px;
  top:    200px;
  height: 114.9px;
  width:   49.3px;
}

.m6 #mini-back-5-1 {
  left:   485px;
  top:    200px;
}

#mini-face-5-2 {
  left:   195px;
  top:    200px;
  height: 116px;
  width:   59px;
}

.m6 #mini-face-5-2 {
  left:   125px;
  top:    200px;
}

#mini-back-5-2 {
  left:   546px;
  top:    200px;
  height: 116px;
  width:   59px;
}

.m6 #mini-back-5-2 {
  left:   477px;
  top:    200px;
}

#mini-face-5-3 {
  left:   205px;
  top:    200px;
  height: 115.4px;
  width:   47.7px;
}

.m6 #mini-face-5-3 {
  left:   136px;
  top:    200px;
}

#mini-back-5-3 {
  left:   556px;
  top:    200px;
  height: 115.4px;
  width:   47.7px;
}

.m6 #mini-back-5-3 {
  left:   487px;
  top:    200px;
}

#mini-face-5-4 {
  left:   205px;
  top:    201px;
  height: 115.4px;
  width:   48.3px;
}

.m6 #mini-face-5-4 {
  left: 138px;
  top:    200px;
}

#mini-back-5-4 {
  left:   557px;
  top:    201px;
  height: 115.4px;
  width:   48.3px;
}

.m6 #mini-back-5-4 {
  left: 487px;
  top:    201px;
}

#mini-face-5-5 {
  left:   205px;
  top:    201px;
  height: 115.4px;
  width:   47.7px;
}

.m6 #mini-face-5-5 {
  left:   136px;
  top:    200px;
}

#mini-back-5-5 {
  left:   557px;
  top:    201px;
  height: 115.4px;
  width:   47.7px;
}

.m6 #mini-back-5-5 {
  left:   487px;
  top:    201px;
}

#mini-face-5-6 {
  left:   205px;
  top:    202px;
  height: 115.4px;
  width:   47.2px;
}

.m6 #mini-face-5-6 {
  left:   136px;
  top:    200px;
}

#mini-back-5-6 {
  left:   557px;
  top:    202px;
  height: 115.4px;
  width:   47.2px;
}

.m6 #mini-back-5-6 {
  left:   487px;
  top:    201px;
}

#mini-face-5-7 {
  left: 204px;
  top: 194px;
  height: 121.1px;
  width:   90.4px;
}

#mini-back-5-7 {
  left: 556px;
  top: 194px;
  height: 121.1px;
  width:   90.4px;
}

#mini-face-6-1 {
  left:   244px;
  top:    195px;
  height: 106.3px;
  width:   48.3px;
}

#mini-back-6-1 {
  left:   595px;
  top:    195px;
  height: 106.3px;
  width:   48.3px;
}

#mini-face-6-2 {
  left:   244px;
  top:    196px;
  height: 108.6px;
  width:   48.3px;
}

#mini-back-6-2 {
  left:   595px;
  top:    196px;
  height: 108.6px;
  width:   48.3px;
}

#mini-face-6-3 {
  left:   244px;
  top:    195px;
  height: 109.1px;
  width:   48.9px;
}

#mini-back-6-3 {
  left:   595px;
  top:    195px;
  height: 109.1px;
  width:   48.9px;
}

#mini-face-6-4 {
  left:   245px;
  top:    197px;
  height: 107.4px;
  width:   47.7px;
}

#mini-back-6-4 {
  left:   595px;
  top:    197px;
  height: 107.4px;
  width:   47.7px;
}

#mini-face-6-5 {
  left:   244px;
  top:    196px;
  height: 106.6px;
  width:   47.8px;
}

#mini-back-6-5 {
  left:   595px;
  top:    196px;
  height: 106.6px;
  width:   47.8px;
}

#mini-face-6-6 {
  left:   245px;
  top:    197px;
  height: 105.6px;
  width:   47.2px;
}

#mini-back-6-6 {
  left:   595px;
  top:    197px;
  height: 105.6px;
  width:   47.2px;
}

#mini-face-7-1 {
  left:   245px;
  top:    195px;
  height: 106.3px;
  width:   47.8px;
}

.m6 #mini-face-7-1 {
  left:   176px;
  top:    194px;
}

#mini-back-7-1 {
  left:   597px;
  top:    195px;
  height: 106.3px;
  width:   47.8px;
}

.m6 #mini-back-7-1 {
  left:   526px;
  top:    195px;
}

#mini-face-7-2 {
  left:   245px;
  top:    194px;
  height: 107.4px;
  width:   47.2px;
}

.m6 #mini-face-7-2 {
  left:   175px;
  top:    194px;
}

#mini-back-7-2 {
  left:   596px;
  top:    196px;
  height: 107.4px;
  width:   47.2px;
}

.m6 #mini-back-7-2 {
  left:   527px;
  top:    194px;
}

#mini-face-7-3 {
  left:   245px;
  top:    196px;
  height: 106.9px;
  width:   46.1px;
}

.m6 #mini-face-7-3 {
  left: 176px;
  top: 195px;
}

#mini-back-7-3 {
  left:   596px;
  top:    195px;
  height: 106.9px;
  width:   46.1px;
}

.m6 #mini-back-7-3 {
  left: 527px;
  top:    195px;
}

#mini-face-7-4 {
  left:   245px;
  top:    197px;
  height: 106.9px;
  width:   46.1px;
}

.m6 #mini-face-7-4 {
  left: 178px;
  top: 196px;
}

#mini-back-7-4 {
  left:   598px;
  top:    197px;
  height: 106.9px;
  width:   46.1px;
}

.m6 #mini-back-7-4 {
  left: 527px;
  top:    196px;
}

#mini-face-7-5 {
  left:   245px;
  top:    196px;
  height: 106.3px;
  width:   46.6px;
}

.m6 #mini-face-7-5 {
  left: 176px;
  top:    195px;
}

#mini-back-7-5 {
  left:   597px;
  top:    196px;
  height: 106.3px;
  width:   46.6px;
}

.m6 #mini-back-7-5 {
  left: 527px;
  top:    196px;
}

#mini-face-7-6 {
  left:   244px;
  top:    196px;
  height: 107.4px;
  width:   47.2px;
}

.m6 #mini-face-7-6 {
  left: 176px;
  top:    195px;
}

#mini-back-7-6 {
  left:   597px;
  top:    196px;
  height: 107.4px;
  width:   47.2px;
}

.m6 #mini-back-7-6 {
  left: 527px;
  top:    195px;
}

#mini-face-7-7 {
  left:   245px;
  top:    192px;
  height: 111.4px;
  width:   80.3px;
}

.m6 #mini-face-7-7 {
  left: 175px;
  top:    190px;
}

#mini-back-7-7 {
  left:   595px;
  top:    192px;
  height: 111.4px;
  width:   80.3px;
}

.m6 #mini-back-7-7 {
  left: 526px;
  top:    190px;
}

#mini-face-8-1 {
  left:   281px;
  top:    191px;
  height:  98.9px;
  width:   43.8px;
}

.m6 #mini-face-8-1 {
  left:   213px;
  top:    190px;
}

#mini-back-8-1 {
  left:   633px;
  top:    191px;
  height:  98.9px;
  width:   43.8px;
}

.m6 #mini-back-8-1 {
  left:   563px;
  top:    191px;
}

#mini-face-8-2 {
  left:   280px;
  top:    192px;
  height: 100px;
  width:   44.9px;
}

.m6 #mini-face-8-2 {
  left:   211px;
  top:    191px;
}

#mini-back-8-2 {
  left:   632px;
  top:    192px;
  height: 100px;
  width:   44.9px;
}

.m6 #mini-back-8-2 {
  left:   563px;
  top:    191px;
}

#mini-face-8-3 {
  left:   280px;
  top:    192px;
  height:  99.4px;
  width:   44.4px;
}

.m6 #mini-face-8-3 {
  left: 211px;
  top:    192px;
}

#mini-back-8-3 {
  left:   631px;
  top:    191px;
  height:  99.4px;
  width:   44.4px;
}

.m6 #mini-back-8-3 {
  left: 562px;
  top:    191px;
}

#mini-face-8-4 {
  left:   280px;
  top:    193px;
  height: 100px;
  width:   43.8px;
}

.m6 #mini-face-8-4 {
  left: 212px;
  top: 192px;
}

#mini-back-8-4 {
  left:   633px;
  top:    193px;
  height: 100px;
  width:   43.8px;
}

.m6 #mini-back-8-4 {
  left: 562px;
  top:    192px;
}

#mini-face-8-5 {
  left:   280px;
  top:    192px;
  height:  99.4px;
  width:   43.2px;
}

.m6 #mini-face-8-5 {
  left: 211px;
  top:    191px;
}

#mini-back-8-5 {
  left:   632px;
  top:    192px;
  height:  99.4px;
  width:   43.2px;
}

.m6 #mini-back-8-5 {
  left: 562px;
  top:    192px;
}

#mini-face-8-6 {
  left:   280px;
  top:    192px;
  height:  98.9px;
  width:   44.4px;
}

.m6 #mini-face-8-6 {
  left: 212px;
  top:    191px;
}

#mini-back-8-6 {
  left:   633px;
  top:    192px;
  height:  98.9px;
  width:   44.4px;
}

.m6 #mini-back-8-6 {
  left: 563px;
  top:    192px;
}

#mini-face-16-1 {
  left:   253px;
  top:    186px;
  height:  92.6px;
  width:   44.4px;
}

#mini-face-16-2 {
  left:   254px;
  top:    186px;
  height:  92px;
  width:   44.4px;
}

#mini-face-16-3 {
  left: 253px;
  top: 189px;
  height:  92px;
  width:   44.9px;
}

#mini-face-16-4 {
  left: 254px;
  top:    186px;
  height:  92px;
  width:   44.4px;
}

#mini-face-16-5 {
  left: 253px;
  top:    186px;
  height:  92px;
  width:   44.4px;
}

#mini-face-16-6 {
  left: 253px;
  top:    186px;
  height:  91.4px;
  width:   45px;
}

#mini-face-16-7 {
  left: 254px;
  top:    183px;
  height:  95.4px;
  width:   70.8px;
}

#mini-face-16-8 {
  left: 252px;
  top:    180px;
  height:  97px;
  width:   92px;
}

#mini-face-17-1 {
  left:   282px;
  top:    182px;
  height:  85.7px;
  width:   41px;
}

#mini-face-17-2 {
  left:   280px;
  top:    183px;
  height:  85px;
  width:   45.1px;
}

#mini-face-17-3 {
  left: 282px;
  top: 186px;
  height:  85.7px;
  width:   42.1px;
}

#mini-face-17-4 {
  left: 283px;
  top:    183px;
  height:  95px;
  width:   41px;
}

#mini-face-17-5 {
  left: 281px;
  top:    183px;
  height:  85.7px;
  width:   42px;
}

#mini-face-17-6 {
  left: 282px;
  top:    183px;
  height:  85.7px;
  width:   41px;
}

#mini-face-17-7 {
  left:   282px;
  top:    180px;
  height:  89.1px;
  width:   65.2px;
}

#mini-face-18-1 {
  left:   309px;
  top:    180px;
  height:  78.9px;
  width:   36px;
}

#mini-face-18-2 {
  left:   308px;
  top:    181px;
  height:  79.4px;
  width:   36.5px;
}

#mini-face-18-3 {
  left: 309px;
  top: 184px;
  height:  78.9px;
  width:   36.5px;
}

#mini-face-18-4 {
  left: 308px;
  top:    181px;
  height:  79.4px;
  width:   37px;
}

#mini-face-18-5 {
  left: 307px;
  top:    180px;
  height:  80px;
  width:   36.5px;
}

#mini-face-18-6 {
  left: 308px;
  top:    180px;
  height:  88.9px;
  width:   36px;
}

#mini-back-16-1 {
  left:   603px;
  top:    186px;
  height:  92.6px;
  width:   44.4px;
}

#mini-back-16-2 {
  left:   604px;
  top:    186px;
  height:  92px;
  width:   44.4px;
}

#mini-back-16-3 {
  left: 603px;
  top: 190px;
  height:  92px;
  width:   44.9px;
}

#mini-back-16-4 {
  left: 604px;
  top:    186px;
  height:  92px;
  width:   44.4px;
}

#mini-back-16-5 {
  left: 603px;
  top:    186px;
  height:  92px;
  width:   44.4px;
}

#mini-back-16-6 {
  left: 603px;
  top:    186px;
  height:  91.4px;
  width:   45px;
}

#mini-back-16-7 {
  left: 604px;
  top:    183px;
  height:  95.4px;
  width:   70.8px;
}

#mini-back-16-8 {
  left: 602px;
  top: 182px;
  height:  97px;
  width:   92px;
}

#mini-back-17-1 {
  left:   632px;
  top:    182px;
  height:  85.7px;
  width:   41px;
}

#mini-back-17-2 {
  left:   630px;
  top:    183px;
  height:  85px;
  width:   45.1px;
}

#mini-back-17-3 {
  left: 632px;
  top: 187px;
  height:  85.7px;
  width:   42.1px;
}

#mini-back-17-4 {
  left: 633px;
  top:    183px;
  height:  95px;
  width:   41px;
}

#mini-back-17-5 {
  left: 631px;
  top:    183px;
  height:  85.7px;
  width:   42px;
}

#mini-back-17-6 {
  left: 632px;
  top:    183px;
  height:  85.7px;
  width:   41px;
}

#mini-back-17-7 {
  left:   633px;
  top:    180px;
  height:  89.1px;
  width:   65.2px;
}

#mini-back-18-1 {
  left:   659px;
  top:    180px;
  height:  78.9px;
  width:   36px;
}

#mini-back-18-2 {
  left:   659px;
  top:    181px;
  height:  79.4px;
  width:   36.5px;
}

#mini-back-18-3 {
  left: 659px;
  top: 186px;
  height:  78.9px;
  width:   36.5px;
}

#mini-back-18-4 {
  left: 658px;
  top:    181px;
  height:  79.4px;
  width:   37px;
}

#mini-back-18-5 {
  left: 657px;
  top:    180px;
  height:  80px;
  width:   36.5px;
}

#mini-back-18-6 {
  left: 658px;
  top: 182px;
  height:  88.9px;
  width:   36px;
}

/* Koreguota 2015-08-21 Irmantas */

.m6 #full-face-4-8, .m6 #full-back-4-8 {
    left: 144px;
    top: 85px;
    height: 235px;
    width: 242px;
}

.m5 #full-face-5-8, .m5 #full-back-5-8 {
    left: 321px;
    top: 74px;
    height: 235px;
    width: 242px;
}


.m6 #full-face-5-8, .m6 #full-back-5-8 {
    left: 144px;
    top: 85px;
    height: 235px;
    width: 242px;
}


.m6 #full-face-5-7, #full-back-5-7 {
    left: 228px;
    top: 83px;
    height: 212px;
    width: 161px;
}

.m5 #full-face-5-7, #full-back-5-7 {
    left: 351px;
    top: 83px;
    height: 212px;
    width: 161px;
}

.m3 #full-face-5-7, #full-back-5-7 {
    left: 350px;
    top: 83px;
    height: 212px;
    width: 161px;
}


.m6 #mini-face-4-8{
    left: 88px;
    top: 195px;
    height: 134.3px;
    width: 136px;
}

.m6 #mini-back-4-8{
    left: 439px;
    top: 195px;
    height: 134.3px;
    width: 136px;
}

.m6 #mini-face-5-8{
    left: 88px;
    top: 195px;
    height: 134.3px;
    width: 136px;
}

.m6 #mini-back-5-8{
    left: 439px;
    top: 195px;
    height: 134.3px;
    width: 136px;
}