@import url("https://fonts.googleapis.com/css?family=Open+Sans:300normal,300italic,400normal,400italic,600normal,600italic,700normal,700italic|Roboto:400normal|Source+Sans+Pro:400normal|Oswald:400normal|Lato:400normal|Gloria+Hallelujah:400normal|Lato:400normal|Open+Sans+Condensed:300normal|Raleway:400normal|Droid+Sans:400normal|Pacifico:400normal&subset=all");

body {
  margin-bottom: 0;
}

label {
  font-family: "Open Sans", "HelveticaNeue", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 14px;
  line-height: 24px;
}

label:hover {
  cursor: pointer;
}

#dialog {
  display: none;
}

.header {
  height: 57px;
  background: #F0F0F0;
  border: 1px solid #CCC;
  width: 980px;
  margin: 0px auto;
  padding: 10px;
}

#footer {
  font-family: "Open Sans", "HelveticaNeue", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 13px;
  color: #ffffff;
  height: 80px;
  background: #007d0f;
  border: 1px solid #CCC;
  width: 1000px;
  margin: 0px auto;
  padding: 7px;
}

 .footer_an1 {
  position: absolute;
  margin: 20px 0px 0px 30px;
  line-height: 20px;
}

.footer_an2 {
  position: absolute;
  margin: 20px 0px 0px 190px;
  line-height: 20px;
}

.footer_an3 {
  position: absolute;
  margin: 20px 0px 0px 420px;
  line-height: 20px;
}

.footer_an4 {
  position: absolute;
  margin: 20px 0px 0px 620px;
  line-height: 20px;
}

.footer_an4 a:link {
  color: #ffffff;
  text-decoration: none;
}

.footer_an4 a:visited {
  color: #ffffff;
}

.footer_an4 a:hover {
  color: #cccccc;
}

.footer_an5 {
  position: absolute;
  margin: 20px 0px 0px 870px;
  line-height: 20px;
}

#subheader {
  font-family: "Open Sans", "HelveticaNeue", "Helvetica Neue", Helvetica, Arial, sans-serif;
  position: absolute;
  margin: -40px 0px 0px 220px;
  color: #007d0f;
  font-size: 24px;
  line-height: 24px;
}

.swMain {
  position: relative;
  display: block;
  margin: 0;
  padding: 0;
  border: 0px solid #CCC;
  overflow: visible;
  float: left;
  width: 1014px;
}

.swMain .stepContainer {
  display: block;
  position: relative;
  margin: 0;
  padding: 0;
  border: 0px solid #CCC;
  overflow: hidden;
  clear: both;
  height: 300px;
}

.swMain .stepContainer div.content {
  display: block;
  position: absolute;
  float: left;
  margin: 0;
  padding: 5px;
  border: 1px solid #CCC;
  font: normal 12px Open Sans, Arial, Helvetica, sans-serif;
  color: #5A5655;
  background-color: #FFFFFF;
  height: 740px;
  text-align: left;
  overflow: visible;
  z-index: 88;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  width: 1000px;
  clear: both;
}

.swMain div.actionBar {
  display: block;
  position: relative;
  clear: both;
  margin:             30px 0 30px 0;
  border:             1px solid #CCC;
  padding:            5px;
  color:              #5A5655;
  background-color:   #F8F8F8;
  height: 55px;
  text-align: left;
  overflow: auto;
  z-index: 88;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  left: 0;
}

.swMain .stepContainer .step-title {
  display: block;
  position: relative;
  margin: 5px;
  border: 1px solid #E0E0E0;
  padding: 5px;
  font: bold 16px Open Sans, Arial, Helvetica, sans-serif;
  color: #007d0f;
  background-color: #F0F0F0;
  clear: both;
  text-align: left;
  z-index: 88;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
}

.swMain .stepContainer .step-title #to-right{ 
 margin-left:20px;
}

.swMain .stepContainer .step-title-small {
  display: block;
  position: relative;
  margin: 5px;
  border: 1px solid #E0E0E0;
  padding: 6px;
  font: bold 13px Open Sans, Arial, Helvetica, sans-serif;
  color: #007d0f;
  background-color: #F0F0F0;
  clear: both;
  text-align: left;
  z-index: 88;
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
}

.swMain .stepContainer .step-title-small  #to-right{
 margin-left:20px;
}

.swMain ul.anchor {
  position: relative;
  display: block;
  float: left;
  list-style: none;
  padding: 0px;
  margin: 30px 0px 30px 0px;
  clear: both;
  border: 0px solid #CCCCCC;
  background: transparent;
}

.swMain ul.anchor li {
  position: relative;
  display: block;
  margin: 0;
  padding: 0;
  padding-left: 3px;
  padding-right: 3px;
  border: 0px solid #E0E0E0;
  float: left;
}

.swMain ul.anchor li a {
  display: block;
  position: relative;
  float: left;
  margin: 0;
  padding: 3px;
  height: 60px;
  width: 239px;
  text-decoration: none;
  outline-style: none;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  z-index: 99;
}

.swMain ul.anchor li a .stepNumber {
  position: relative;
  float: left;
  width: 30px;
  text-align: center;
  padding: 5px;
  padding-top: 0;
  font: bold 45px Open Sans, Arial, Helvetica, sans-serif;
}

.swMain ul.anchor li a .stepDesc {
  position: relative;
  display: block;
  float: left;
  text-align: left;
  padding: 8px;
  font: bold 17px Open Sans, Arial, Helvetica, sans-serif;
}

.swMain ul.anchor li a .stepDesc small {
  font: normal 12px Open Sans, Arial, Helvetica, sans-serif;
}

.swMain ul.anchor li a.selected {
  color: #F8F8F8;
  background: #007d0f;
  border: 1px solid #007d0f;
  cursor: pointer;
  -moz-box-shadow: 5px 5px 8px #888;
  -webkit-box-shadow: 5px 5px 8px #888;
  box-shadow: 5px 5px 8px #888;
}

.swMain ul.anchor li a.selected:hover {
  color: #F8F8F8;
  background: #007d0f;
}

.swMain ul.anchor li a.done {
  position: relative;
  color: #FFF;
  background: #8CC63F;
  border: 1px solid #8CC63F;
  z-index: 99;
}

.swMain ul.anchor li a.done:hover {
  color: #5A5655;
  background: #8CC63F;
  border: 1px solid #5A5655;
}

.swMain ul.anchor li a.disabled {
  color: #CCCCCC;
  background: #F8F8F8;
  border: 1px solid #CCC;
  cursor: not-allowed;
}

.swMain ul.anchor li a.disabled:hover {
  color: #CCCCCC;
  background: #F8F8F8;
}

.swMain ul.anchor li a.error {
  color: #6c6c6c !important;
  background: #f08f75 !important;
  border: 1px solid #fb3500 !important;
}

.swMain ul.anchor li a.error:hover {
  color: #000 !important;
}

.swMain .buttonNext {
  display: block;
  float: right;
  margin: 10px 3px 0 3px;
  padding: 5px;
  text-decoration: none;
  text-align: center;
  font: bold 16px Open Sans, Arial, Helvetica, sans-serif;
  width: 100px;
  color: #FFF;
  outline-style: none;
  background-color:   #5A5655;
  border: 1px solid #5A5655;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
}

.swMain .buttonHidden {
  visibility: hidden;
}

.swMain .buttonDisabled {
  color: #F8F8F8  !important;
  background-color: #CCCCCC !important;
  border: 1px solid #CCCCCC  !important;
  cursor: not-allowed;
}

.swMain .buttonPrevious {
  display: block;
  float: right;
  margin: 10px 3px 0 3px;
  padding: 5px;
  text-decoration: none;
  text-align: center;
  font: bold 16px Open Sans, Arial, Helvetica, sans-serif;
  width: 100px;
  color: #FFF;
  outline-style: none;
  background-color:   #5A5655;
  border: 1px solid #5A5655;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
}

.swMain .buttonFinish {
  display: block;
  float: right;
  margin: 10px 10px 0 3px;
  padding: 5px;
  text-decoration: none;
  text-align: center;
  font: bold 16px Open Sans, Arial, Helvetica, sans-serif;
  width: 100px;
  color: #FFF;
  outline-style: none;
  background-color:   #5A5655;
  border: 1px solid #5A5655;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
}

.txtBox {
  border: 1px solid #CCCCCC;
  color: #5A5655;
  font: 13px Open Sans,Arial,Helvetica,sans-serif;
  padding: 2px;
  width: 430px;
}

.txtBox:focus {
  border: 1px solid #EA8511;
}

.swMain .loader {
  position: relative;
  display: none;
  float: left;
  margin: 2px 0 0 2px;
  padding: 8px 10px 8px 40px;
  border: 1px solid #FFD700;
  font: bold 13px Open Sans, Arial, Helvetica, sans-serif;
  color: #5A5655;
  background: #FFF url(../images/loader.gif) no-repeat 5px;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  z-index: 998;
}

.swMain .msgBox {
  position: relative;
  display: none;
  float: right;
  margin: 4px 20px 0 5px;
  padding: 5px;
  border: 1px solid #FFD700;
  background-color: #FFFFDD;
  font: normal 16px Open Sans, Arial, Helvetica, sans-serif;
  line-height: 16px;
  /* color: #5A5655; */
  color: red;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  z-index: 999;
  min-width: 200px;
}

.swMain .msgBox .content {
  font: normal 14px Open Sans,Arial,Helvetica,sans-serif;
  padding: 0px;
  float: left;
}

.swMain .msgBox .close {
  border: 1px solid #CCC;
  border-radius: 3px;
  color: #CCC;
  display: block;
  float: right;
  margin: 0 0 0 5px;
  outline-style: none;
  padding: 0 2px 0 2px;
  position: relative;
  text-align: center;
  text-decoration: none;
}

.swMain .msgBox .close:hover {
  color: #EA8511;
  border: 1px solid #EA8511;
}

#step-1  input[type="radio"]:checked:before {
  content: "";
  display: block;
  position: relative;
  top: 3px;
  left: 3px;
  width: 6px;
  height: 6px;
  border-radius: 50%;
  background: #007d0f;
}

#model-table td {
  padding: 4px;
  border: #c9c9c9 1px solid;
  background-color: #ffffff;
  color: #000000;
}

#model-table td:hover {
  background-color: #e0e0e0;
}

#model-table td.active {
  background-color: #007d0f;
  color: #ffffff;
}

img.models {
  margin-top: 5px;
  margin-bottom: 5px;
}

#model-builder {
  position: absolute;
  margin-top: 25px;
}
.base-image {
  position: absolute;
  height: 300px;
  width:  307px;
  z-index: 0;
  display: none;
}

#base-image-face {
  left:    16px;
  top:    -33px;
}

#base-image-back {
  left:    16px;
  top:    -33px;
}

#work-container {
  margin-left: 70px;
  padding: 0;
  width: 607px;
  background: url(../images/blank.png);
  color: #ffffff;
}

#work-container .slot {
  position: absolute;
  height:   23px;
  width:    23px;
  z-index:  20;
  background-image: url(../images/circle_grey.png);
  font:        13.75px Arial;
  line-height: 23px;
  text-align:  center;
}

#work-container .slot.active {
  background-image: url(../images/circle_green.png);
}

#work-container .slot input {
  display: none;
}

#marker-one, #marker-two {
  position: absolute;
  z-index: 20;
  background-size: 100% 100%;
  background-repeat: no-repeat;
}

.side-face > div, .side-back > div {
  position: absolute;
  display: none;
}

#wall-types-header {
  display: block;
  position: relative;
  font: bold 13px Open Sans, Arial, Helvetica, sans-serif;
  color: #007d0f;
  margin-left: 693px;
  /*background-color:#ffffff;*/
}

.wall-selector {
  padding: 2px;
  border: 1px solid #e0e0e0;
  margin-bottom: 9px;
}

.wall-selector #to-right-img{
  margin-left:35px;
}

.wall-selector:hover {
  border: 1px solid #007d0f;
  background-color: #eeeeee;
}

.wall-selector input[type="radio"]:checked:before {
  content: "";
  display: block;
  position: relative;
  top: 3px;
  left: 3px;
  width: 6px;
  height: 6px;
  border-radius: 50%;
  background: #007d0f;
}

.wall-selector.active {
  border: 1px solid #007d0f;
  background: #d6f2d9;
}

#side-select-face {
  margin: 150px 0 0 80px;
}

#side-select-back {
  margin: 150px 0 0 315px;
}

.side {
  position: absolute;
}

.side.active {
  color: #007d0f;
}

.side.active img {
  -moz-border-radius: 0em;
  -webkit-border-radius: 0em;
  padding: 1px;
  background-color: #007d0f;
}

.side input[type='radio'] {
  -webkit-appearance: none;
  visibility: hidden;
}

.generated-image {
  width: 340px;
  height: 260px;
  border: #c9c9c9 1px solid;
}

.generated-image > div {
  position: absolute;
  display: none;
}

.generated-content {
  position: absolute;
  top: 405px;
}

.generated-content-header {
  font-weight: bold;
  font-size:14px;
}

.gutters_on {
  display: none;
}

.email_form {
  padding-top: 25px;
}

.email_form input {
  border: 1px solid #c9c9c9;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  border-radius: 2px;
}

.email_form textarea {
  resize: vertical;
  border: 1px solid #c9c9c9;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  border-radius: 2px;
}

.email_form input:focus,
.email_form textarea:focus {
  -webkit-box-shadow: inset 0px 0px 10px 0px rgba(227,227,227,0.4);
  -moz-box-shadow: inset 0px 0px 10px 0px rgba(227,227,227,0.4);
  box-shadow: inset 0px 0px 10px 0px rgba(227,227,227,0.4);
}

.form_title {
  font-weight: bold;
  margin-left: 6px;
  font-size:13px;
}

.button_box {
  margin-top: 10px;
  margin-left: 1px;
}

.button_box a {
  margin-left: 5px;
}

.email_form .form_btn {
  background: #efefef;
  background-image: -webkit-linear-gradient(top, #efefef, #d9d9d9);
  background-image: -moz-linear-gradient(top, #efefef, #d9d9d9);
  background-image: -ms-linear-gradient(top, #efefef, #d9d9d9);
  background-image: -o-linear-gradient(top, #efefef, #d9d9d9);
  background-image: linear-gradient(to bottom, #efefef, #d9d9d9);
  -webkit-border-radius: 38;
  -moz-border-radius: 38;
  border-radius: 38px;
  color: #5a5655;
  font-size: 13px;
  font-weight:bold;
  padding: 4px 19px 4px 19px;
  text-decoration: none;
}

.email_form .form_btn:hover {
  background: #f2f2f2;
  background-image: -webkit-linear-gradient(top, #f2f2f2, #e0e0e0);
  background-image: -moz-linear-gradient(top, #f2f2f2, #e0e0e0);
  background-image: -ms-linear-gradient(top, #f2f2f2, #e0e0e0);
  background-image: -o-linear-gradient(top, #f2f2f2, #e0e0e0);
  background-image: linear-gradient(to bottom, #f2f2f2, #e0e0e0);
  text-decoration: none;
}

.hidden {
  display: none;
}

.side-back {
  display: none;
}

.dellayer4,
.dellayer4_back,
.dellayer5,
.dellayer5_back,
.dellayer6,
.dellayer6_back,
.dellayer7,
.dellayer7_back,
.dellayer8,
.dellayer8_back,
.dellayer9,
.dellayer9_back,
.dellayer10,
.dellayer10_back,
.dellayer11,
.dellayer11_back,
.dellayer12,
.dellayer12_back,
.dellayer13,
.dellayer13_back,
.dellayer14,
.dellayer14_back,
.dellayer15,
.dellayer15_back,
.dellayer16,
.dellayer16_back,
.dellayer17,
.dellayer17_back,
.dellayer18,
.dellayer18_back,
.dellayer19,
.dellayer19_back,
.dellayer22,
.dellayer22_back,
.dellayer23,
.dellayer23_back,
.dellayer26,
.dellayer26_back,
.dellayer27,
.dellayer27_back,
.dellayer28,
.dellayer28_back,
.dellayer29,
.dellayer29_back,
.dellayer30,
.dellayer30_back,
.dellayer31,
.dellayer31_back,
.dellayer32,
.dellayer32_back,
.dellayer33,
.dellayer33_back,
.dellayer34,
.dellayer34_back,
.dellayer35,
.dellayer35_back,
.dellayer36,
.dellayer36_back,
.dellayer37,
.dellayer37_back,
.dellayer38,
.dellayer38_back,
.dellayer39,
.dellayer39_back,
.dellayer40,
.dellayer40_back,
.dellayer41,
.dellayer41_back,
.dellayer42,
.dellayer42_back,
.dellayer43,
.dellayer43_back,
.dellayer44,
.dellayer44_back,
.dellayer45,
.dellayer45_back,
.dellayer46,
.dellayer46_back,
.dellayer47,
.dellayer47_back,
.dellayer48,
.dellayer48_back,
.dellayer49,
.dellayer49_back,
.dellayer50,
.dellayer50_back,
.dellayer51,
.dellayer51_back,
.dellayer52,
.dellayer52_back,
.dellayer53,
.dellayer53_back,
.dellayer54,
.dellayer54_back,
.dellayer55,
.dellayer55_back,
.dellayer56,
.dellayer56_back,
.dellayer57,
.dellayer57_back,
.dellayer58,
.dellayer58_back,
.dellayer59,
.dellayer59_back,
.dellayer60,
.dellayer60_back,
.dellayer61,
.dellayer61_back,
.dellayer62,
.dellayer62_back,
.dellayer63,
.dellayer63_back,
.dellayer64,
.dellayer64_back,
.dellayer65,
.dellayer65_back,
.dellayer66,
.dellayer66_back,
.dellayer67,
.dellayer67_back,
.dellayer68,
.dellayer68_back,
.dellayer69,
.dellayer69_back,
.dellayer70,
.dellayer70_back,
.dellayer71,
.dellayer71_back,
.dellayer72,
.dellayer72_back,
.dellayer73,
.dellayer73_back,
.dellayerx1,
.dellayerx1_back,
.dellayerx2,
.dellayerx2_back,
.dellayerx3,
.dellayerx3_back,
.dellayerx4,
.dellayerx4_back,
.dellayerx5,
.dellayerx5_back,
.dellayerx6,
.dellayerx6_back,
.dellayerx7,
.dellayerx7_back,
.dellayerz1,
.dellayerz1_back,
.dellayerz2,
.dellayerz2_back,
.dellayerz3,
.dellayerz3_back,
.dellayerz4,
.dellayerz4_back {
  display: none;
}

/*Pakeitimai 2015-08-12 */

 #tipas{
	 display: none;
}

 #form-titles{
	font-size:14px;
}


#desc_b1,
#desc_b2,
#desc_b3,
#desc_b1,
#desc_b2,
#desc_b3,
#desc_b3,
#desc_c1,
#desc_c2,
#desc_c3,
#desc_c3,
#desc_c3,
#desc_c3,
#desc_c3,
#desc_d1,
#desc_d2,
#desc_d3,
#desc_d3,
#desc_d3,
#desc_d3,
#desc_d3,
#desc_a1,
#desc_a1,
#desc_a1,
#desc_a1,
#desc_a1,
#desc_a2,
#desc_gutters,
#desc_a3{
	font-size:13px;
}

#to-right-gutters{
	margin-right:20px;
}

#model-name-title{
	font-size:16px;
	margin-left:18px;
}

#model-name-title-input{
	display:none;
}